venv
.venv
__pycache__
.pytest_cache
.git
*.pyc
*.pyo
*.pyd
build
develop-eggs
dist
downloads
eggs
.eggs
lib
lib64
parts
sdist
var
*.egg-info
pip-wheel-metadata
htmlcov
.mypy_cache
.tox
noxfile_.py
.coverage
coverage.xml
*.cover
hypothesis
.pytest_cache
instance
.env
.venv
